.css-u8hs99.exg6vvm14{
    visibility: collapse;
}

.css-po3vlj.exg6vvm15{
max-height: 50px;
background-color: black;
display: flex;
justify-content: center;
position: relative;
}

.css-po3vlj.exg6vvm15 .css-1x8cf1d.edgvbvh10{
    width: 80%;
    position: absolute;
    right: 10%;
    
}

.css-4u6e0b{
    gap: 0 !important
}

/* .css-gk8e67 {
    visibility: none !important;
} */

.css-18ni7ap{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 0rem;
}

.css-18e3th9{
    position: absolute !important;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.js-plotly-plot .plotly .user-select-none{
    padding-top: 0rem;
}

/* selectbox text */
.css-81oif8 {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Select mode Column */
.css-j5r0tf.e1tzin5v2{
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}
/* Select Mode text */
.css-81oif8.effi0qh3 {
    color: white;
}
.uploadedFileName.css-1uixxvy.exg6vvm6{
    color: white;
}
/* Checkbox Color */
.css-1djdyxw.ek41t0m0{
    color: white;
}

/* Plotting Columns */
.css-1sdqqxz.e1tzin5v2 {
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}

/* Apply Button Change */
.css-1x8cf1d {
    width: 60%;
    margin-left: 20%;
}

/* Slider Column */
.css-znbf09.e1tzin5v2{
    min-height: 180px;
    background-color: black;
    padding: 10px;
}


/* Text under Sliders */
.css-183lzff.eyqtai90{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
    font-weight: bold;
    transform: translateY(-60px);
    margin-left: 39%;
}

.css-qri22k{
    visibility: hidden;
}