.css-u8hs99.exg6vvm14 {
  visibility: collapse;
}

.css-po3vlj.exg6vvm15 {
  max-height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
}

.css-po3vlj.exg6vvm15 .css-6kekos.edgvbvh9 {
  width: 80%;
  position: absolute;
  right: 10%;
}

.css-4u6e0b {
  gap: 0 !important;
}

/* .css-gk8e67 {
    visibility: none !important;
} */

.css-18ni7ap {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 0rem;
}

.css-18e3th9 {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.js-plotly-plot .plotly .user-select-none {
  padding-top: 0rem;
}

/* Checkbox */
/* .row-widget.stCheckbox{
  margin-left: 25%;
} */

/* selectbox text */
.css-81oif8 {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* Select mode Column */
.css-j5r0tf.e1tzin5v2 {
  border: solid;
  border-color: black;
  padding: 20px;
  border-radius: 20px;
}

/* Spectrogram plot */
.css-dn2byr.e1tzin5v2 {
  border: solid;
  border-color: black;
  padding: 20px;
  border-radius: 20px;
}

/* Before & After Update text */
.css-1offfwp.e16nr0p34 p {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

/* Select Mode text */
.css-81oif8.effi0qh3 {
  color: black;
}
.uploadedFileName.css-1uixxvy.exg6vvm6 {
  color: black;
}
/* Checkbox Color */
.css-1djdyxw.ek41t0m0 {
  color: black;
}

/* Plotting */
.css-1sdqqxz.e1tzin5v2 {
  border-color: black;
  border: solid;
  padding: 20px;
  border-radius: 20px;
}

/* Text under Sliders */
.css-1b2d4l5.e1tzin5v2 .css-183lzff.eyqtai90 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1vw;
  font-weight: bold;
  transform: translateY(-60px);
  margin-left: 39%;
}
.css-ocqkz7.e1tzin5v4 .css-183lzff.eyqtai90 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1vw;
  font-weight: bold;
  transform: translateY(-60px);
  margin-left: 43%;
}

.css-qri22k {
  visibility: hidden;
}

.css-6kekos {
  font-weight: 1000;
}

/* Altair Responsive */
canvas.marks {
  max-width: 100% !important;
  height: auto !important;
}
